# Servidor
PORT=4000

# Base de Datos
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=sistema_asistencia_nomina

# Seguridad (Cambiar por valores seguros en producción)
JWT_SECRET=tu_secreto_para_jwt
BIOMETRIC_API_KEY=tu_llave_de_api_biometrica
DNI_API_TOKEN=tu_token_de_servicios_dni
